@import url('https://fonts.googleapis.com/css?family=Rubik+One');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900');

$primary-color: #6356E5;

body {
  font-family: 'Nunito', sans-serif;
  background-image: url('/img/pattern.svg');
  overflow: hidden;
}

body.windows::-webkit-scrollbar {
  width: 10px;
}

body.windows::-webkit-scrollbar-track {
  background: rgba(#FFF, 0);
}

body.windows::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
}

h2 {
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin: 0;
  position: relative;
}
a {
  color: #BDBDBD;
  &:hover,
  &:visited,
  &:focus,
  &:active {
    color: #BDBDBD;
  }
  &.fancy {
    position: relative;
    font-weight: 900;
    color: inherit;
    text-decoration: none;
    color: $primary-color;
  }
}

#sp {
  color: #2ebd59;
}
#you {
  color: #cd201f;
}
.rendu {
  margin-top: 20%;
}
.container {
  background-color: #FFF;
  max-width: 900px;
  padding-bottom: 140px;
}

.vetti-scene {
  position: relative;
  overflow: hidden;
  background-color: #0F1021;
  z-index: 10;
  .opl {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 80px;
    z-index:999999;
  }
  .cssaw {
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 10000;
    a {
      width: 54px;
      height: 63px;
      display: block;
      background: url(http://www.cssdesignawards.com/badges/award-nominee-cssda-160-r.png) no-repeat;
      background-size: 54px;
    }
  }
  .down {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #fff;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s linear 2s;
    animation: scroll 2s infinite;
    @keyframes scroll {
      0% {
        bottom: 30px;
      }
      15% {
        bottom: 20px;
      }
      30% {
        bottom: 30px;
      }
    }
    img {
      width: 100%;
      padding: 8px;
    }
  }
  .rangoli-vattam {
    border-radius: 50%;
    position: absolute;
    transform: scale3d(0, 0, 0);
    margin-left: -50%;
    margin-top: -50%;
    transition: transform 30s linear;
  }
  .peru {
    font-family: 'Rubik One', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    bottom: 300px;
    left: 50px;
    color: white;
    z-index: 100;
    mix-blend-mode: difference;
  }
  .seira-vela {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    bottom: 260px;
    left: 53px;
    color: white;
    z-index: 100;
    mix-blend-mode: difference;
  }
}
.rendu {
  position: relative;
  display: none;
}
.chinnatha-sceneu-irukarathu {
  position: relative;
}
header {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 50px;
  left: 50px;
  z-index: 6;
  color: #FFF;
  pointer-events: none;
  img {
    width: 100%;
  }
}
.my-nav {
  position: fixed;
  top: 50px;
  left: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  transition: all 0.3s ease;
  z-index: 5;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(51, 51, 51, 0.3);
  a {
    margin: 0 40px;
    color: #fff;
    &:first-child {
      margin-left: 150px;
    }
  }
  &:hover {
    width: 600px;
  }
}
.enna-pathi {
  margin-top: 70px;
  font-size: 18px;
  line-height: 40px;
  color: #747474;
  #second {
    margin-top: 30px;
  }
}
.slick-list {
  overflow: visible;
}
.en-moonji {
  width: 100%;
  text-align: center;
  margin: 20% 0;
  img {
    width: 100%;
    position: relative;
    border-radius: 4px;
  }
  .mangala-theriyum {
    position: relative;
    #blur {
      position: absolute;
      left: 0;
      top: 0;
      filter: blur(20px);
    }
  }
  a {
    position: relative;
    top: 30px;
  }
}
.container {
  h2 {
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 30px;
        height: 3px;
        // background-color: $primary-color;
      }
    }
}
.na-senjathu {
  margin-top: 20%;
  .row {
    margin: 70px 0 0;
  }
  .thalaipu-matrum-matravai {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .thalaipu {
      font-size: 22px;
      font-weight: 600;
    }
    .matravai {
      white-space: nowrap;
      span {
        margin-left: 50px;
        position: relative;
        &:first-child {
          &:before {
            content: none;
          }
        }
        &:before {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 5px;
          top: 8px;
          position: absolute;
          left: -29px;
          background-color: #dadada;
        }
      }
    }
  }
  .ithu-enna-seiyum {
    font-size: 18px;
    line-height: 40px;
    color: #747474;
  }
}
.button-iruku-inga {
  text-align: center;
  margin: 70px 0;
  button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    box-shadow: 0 0 40px rgba($primary-color, 0.6);
    background-color: $primary-color;
    font-weight: 900;
    transition: all 0.3s linear;
    outline: none;
    &:hover {
      box-shadow: 0 0 60px rgba($primary-color, 0.8);
    }
  }
}
.inayam {
  margin-top: 30px;
  a {
    margin-right: 50px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    &:after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 5px;
      top: 10px;
      position: absolute;
      right: -27px;
      background-color: #dadada;
      z-index: -1;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  #git {
    color: #333;
  }
  #so {
    color: #f48024;
  }
  #hn {
    color: #36C2D6;
  }
  #me {
    color: #00ab6c;
  }
}
footer {
  height: 300px;
  background-color: #2A363B;
  background-image: url(/img/pattern.svg);
  background-position: 0 -80px;
  display: flex;
  color: #FFF;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .love {
    text-align: center;
  }
  .hosted {
    text-align: center;
    margin-top: 20px;
    color: rgba(#FFF, 0.7);
  }
  p {
    opacity: 0.5;
    margin-top: 20px;
    position: relative;
    top: 15px;
  }
  .bottom-links {
    margin-top: 70px;
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    a {
      background-color: transparent;
      margin: 0;
      &:after {
        content: none;
      }
    }
  }
  #git {
    color: #CCC !important;
  }
}

.enaku-therunjathu {
  #ux {
    width: 60%;
  }
  #ui {
    width: 90%;
  }
  #html {
    width: 93%;
  }
  #js {
    width: 90%;
  }
  #react{
    width: 98%;
  }
  .enaku-therunjathu-block {
    h4 {
      font-weight: 600;
    }
    margin-bottom: 50px;
  }
  .enaku-therunjathu-list {
    margin-top: 70px;
  }
  .percentage-container {
    margin-top: 20px;
    width: 100%;
    height: 7px;
    background-color: #f1f1f1;
    &.no-width {
      .percentage {
        width: 0 !important;
      }
    }
    .percentage {
      height: 100%;
      background: linear-gradient(62deg, rgb(99, 86, 229), rgb(162, 98, 210));
      transition: width 1.5s ease-in-out;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .vetti-scene {
    .cssaw {
      top: 50px;
    }
    .opl {
      top: 120px;
    }
    .peru {
      font-size: 60px;
      position: absolute;
      bottom: 200px;
      left: 15px;
    }
    .seira-vela {
      font-size: 20px;
      position: absolute;
      bottom: 160px;
      left: 15px;
    }
  }
}