@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-ExtraBold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-Thin.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'mp';
	src: url('/fonts/Metropolis-Light.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
