@import "bootstrap.scss";
@import "font.scss";

$font-color-light: #777777;
$primary-color: #3cb0ff;

html {
  height: 100%;
}
body {
  font-family: "mp", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}
#opl {
  width: 100px;
  position: absolute;
  right: 0;
  top: 100px;
}

#git {
  color: #333;
}
#dribbble {
  color: #ea4c89;
}
#so {
  color: #f48024;
}
#lki {
  color: #0077b5;
}
#medium {
  color: #00ab6c;
}

a {
  color: $primary-color;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: lighten($primary-color, 10);
  }
  &:visited,
  &:focus,
  &:active {
    text-decoration: none;
    color: $primary-color;
  }
}

.pattern {
  height: 100px;
  width: 100%;
  background-image: url("/img/pattern.svg");
  opacity: 0.2;
}

.content {
  height: 100%;
  .header {
    margin-top: 200px;
    img {
      width: 100px;
    }
  }
  .quote {
    padding-top: 100px;
    font-size: 100px;
    font-weight: 300;
    p {
      margin: 20px 0 0;
    }
  }
  .divider {
    margin: 70px 0;
  }
  .about {
    font-size: 27px;
    line-height: 57px;
    max-width: 900px;
    color: $font-color-light;
    .intro {
      margin-bottom: 100px;
    }
  }
  .links {
    padding-top: 40px;
    a {
      margin-right: 40px;
      font-size: 27px;
      font-weight: 800;
    }
  }
  .projects {
    margin-top: 240px;
    .project {
      margin-bottom: 100px;
      &.left {
        padding-right: 62px;
      }
      &.right {
        padding-left: 62px;
      }
      .image {
        height: 540px;
        width: 100%;
        padding: 30px;
        background-color: #eee;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 500px;
        &:hover {
          overflow: hidden;
          img {
            filter: blur(30px);
          }
          .hover {
            opacity: 1;
          }
        }
        .hover {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, 0.70);
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          border-radius: 8px;
          font-weight: 700;
          opacity: 0;
          transition: opacity 0.2s ease;
        }
        img {
          width: 100%;
          transition: filter 0.3s ease;
        }
        &.m {
          background-color: #ffd3dd;
        }
        &.h {
          background-color: #F4F5FC;
        }
        &.c {
          background-color: #fff9c7;
        }
        &.r {
          background-color: #d4eedb;
        }
        &.p {
          background-color: #e3eeff;
        }
        &.i {
          background-color: #ffcec7;
        }
        &.statements {
          background-color: #e4e3ff;
        }
        &.e {
          background-color: #efe4df;
        }
      }
      .details {
        .title {
          font-size: 30px;
          font-weight: 500;
          margin: 40px 0 30px;
        }
        .description {
          font-size: 20px;
          color: $font-color-light;
          line-height: 34px;
        }
      }
    }
    .divider {
      margin: 20px 0 70px;
    }
  }
}

.more {
  font-size: 30px;
  padding: 30px 0;
  margin-bottom: 100px;
}

.contact {
  width: 100%;
  padding: 100px 0 20px;
  border-top: 1px solid #EEEEEE;
  position: relative;
  .footer {
    text-align: center;
    img {
      width: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .credit {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .license {
      line-height: 25px;
    }
  }
}

.copy {
  margin-top: 80px;
  opacity: 0.5;
  text-align: center;
}

@media (min-width: 1600px) {
  .container {
    width: 1440px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    .quote {
      padding-top: 40px;
      font-size: 70px;
    }
    .divider {
      margin: 40px 0;
      width: 100px;
    }
    .about {
      font-size: 22px;
      line-height: 50px;
      .intro {
        margin-bottom: 60px;
      }
    }
    .projects {
      margin-top: 200px;
    }
    .links {
      padding-top: 40px;
      a {
        margin-right: 40px;
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  .content {
    .projects {
      .project {
        &.right,
        &.left {
          padding: 0;
        }
        .image {
          min-height: 200px;
          height: 100%;
          padding: 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .content {
    .links {
      a {
        margin-right: 37px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .pattern {
    height: 50px;
  }
  .content {
    .header {
      margin-top: 100px;
      img {
        width: 80px;
      }
    }
    .projects {
      .project {
        &.left {
          padding-right: 10px;
        }
        &.right {
          padding-left: 10px;
        }
        .image {
          height: 100%;
          padding: 10px;
          min-height: 200px;
        }
        .details {
          .title {
            font-size: 26px;
            margin: 30px 0 20px;
          }
          .description {
            font-size: 18px;
            line-height: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #opl {
    width: 70px;
  }
  .pattern {
    height: 80px;
  }
  .content {
    .header {
      margin-top: 120px;
      img {
        width: 60px;
      }
    }
    .quote {
      padding-top: 10px;
      font-size: 50px;
    }
    .divider {
      margin: 30px 0;
      width: 80px;
    }
    .about {
      font-size: 20px;
      line-height: 40px;
      .intro {
        margin-bottom: 60px;
      }
    }
    .links {
      padding-top: 30px;
      a {
        margin-right: 25px;
        display: inline-block;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    .projects {
      margin-top: 150px;
      .project {
        margin-bottom: 80px;
        &.right,
        &.left {
          padding: 0;
        }
        .details {
          .title {
            font-size: 22px;
            margin: 30px 0 20px;
          }
          .description {
            font-size: 18px;
          }
        }
      }
      .divider {
        margin: 0px 0 50px;
      }
    }
    .more {
      font-size: 22px;
      padding: 30px 0;
      margin-bottom: 50px;
    }
  }
}
