@import "bootstrap.scss";
@import "font.scss";

$font-color-light: #777777;

html {
  height: 100%;
}
body {
  font-family: "mp", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

.pattern {
  height: 100px;
  width: 100%;
  background-image: url("/img/pattern.png");
  opacity: 0.2;
}

.content {
  height: 100%;
  .header {
    margin-top: 10%;
    img {
      width: 100px;
    }
  }
  .quote {
    padding-top: 30%;
    font-size: 100px;
    font-weight: 300;
    p {
      margin: 20px 0 0;
    }
  }
  .divider {
    margin: 70px 0;
  }
  .about {
    font-size: 27px;
    line-height: 57px;
    max-width: 900px;
    color: $font-color-light;
    .intro {
      margin-bottom: 100px;
    }
  }
  .projects {
    margin-top: 240px;
    .project {
      margin-bottom: 100px;
      &.left {
        padding-right: 62px;
      }
      &.right {
        padding-left: 62px;
      }
      .image {
        height: 540px;
        width: 100%;
        padding: 30px;
        background-color: #eee;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
        &.m {
          background-color: #FF466E;
        }
        &.h {
          background-color: #F4F5FC;
        }
        &.c {
          background-color: rgb(252, 237, 107);
        }
        &.p {
          background-color: #4C90F5;
        }
        &.i {
          background-color: #FF6262;
        }
      }
      .details {
        .title {
          font-size: 30px;
          font-weight: 500;
          margin: 40px 0 30px;
        }
        .description {
          font-size: 20px;
          color: $font-color-light;
          line-height: 34px;
        }
      }
    }
  }
}

.contact {
  width: 100%;
  height: 300px;
  border-top: 1px solid #EEEEEE;
}

@media (min-width: 1439px) {
  .container {
    width: 1440px;
  }
}
@media (max-width: 768px) {
  .content {
    .quote {
      font-size: 60px;
    }
    .projects {
      .project {
        &.right,
        &.left {
          padding: 0;
        }
        .image {
          height: 340px;
        }
      }
    }
  }
}
